{% set lang = "en-US" %}


{% set pageTitle = "401 Error" %}


{% set errors__pageHeader_title = "401 Error" %}
{% set errors__pageHeader_html = "Authentification is required to access the requested ressource." %}


{% include "./assets/templates/errors.njk" %}