{% set lang = "en-US" %}


{% set pageTitle = "500 Error" %}


{% set errors__pageHeader_title = "500 Error" %}
{% set errors__pageHeader_html = "An internal error occurred on the server." %}


{% include "./assets/templates/errors.njk" %}