body.page-template-page_the-game {

	header {
		background-image: url(#{$gamigo-cdn}/img/headers/header_game.jpg);
		@media ($breakpoint-tablet-portrait) {
			background-image: url(#{$gamigo-cdn}/img/headers/header_game-tablet.jpg);
		}
		@media ($breakpoint-mobile-landscape) {
			background-image: url(#{$gamigo-cdn}/img/headers/header_game-mobile.jpg);
		}

		.page-width {
			margin-top: 0;
			.title {
				.stores { margin-top: 30px; margin-right: -100px;
					@media ($breakpoint-tablet-portrait) {
						margin-right: 0;
					}
					a {
						width: 200px; height: 59px; max-width: 100%; margin: 0 20px 20px 0; box-shadow: 0 0 40px rgba(white, .5); border-radius: 8px; display: inline-block; position: relative; z-index: 2;
						transition: box-shadow $transition-duration $transition-timing-function;

						@include hover() {
							box-shadow: 0 0 10px rgba(white, .5);
						}
						
						@media ($breakpoint-mobile-landscape) {
							margin: 10px 0;
						}

						img,
						svg {
							width: 100%; height: auto; margin: 0 auto; display: block;
						}
					}
				}
			}
		}

		.character {
			@media ($breakpoint-mobile-landscape) {
				z-index: 1 !important;
			}
			img {
				&.image-1 {
					top: 52px;
					right: 330px;

					@media ($breakpoint-tablet-portrait) {
						top: 30px;
						right: 50%;
					}
					@media ($breakpoint-mobile-landscape) {
						top: -40px;
						right: 40%;
						height: auto;
						width: 200px;
					}
				}
				&.image-2 {
					top: 140px;
					right: -100px;

					@media ($breakpoint-tablet-portrait) {
						top: 30px;
						right: -50px;
					}
					@media ($breakpoint-mobile-landscape) {
						right: -60px;
					}
				}
			}
		}
	}

	h2 { z-index: 2; display: inline-block; }

	section { min-height: 425px; text-align: left; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; position: relative; z-index: 1;

		&.realm-zikverland { margin-top: 50px; }

		&:nth-child(odd) { padding-right:  60%; 
			img { right: -5%; }
		}
		&:nth-child(even) { padding-left:  60%; 
			img { left: -5%; }
		}

		@media ($breakpoint-tablet-portrait) {
			.visual { margin: 0 -15px; 

			}
		}

		img { max-height: 500px; margin-top: -242px; position: absolute; top: 50%; z-index: 1; 

			@media ($breakpoint-desktop) {
				max-height: 445px;
			}

			@media ($breakpoint-tablet-portrait) {
				width: 768px; max-height: none !important; left: 50% !important; top: 0 !important; margin-top: 0 !important; margin-left: -384px;
			}

			@media ($breakpoint-mobile-portrait) {
				width: 384px; max-height: none !important; left: 50% !important; top: 0 !important; margin-top: 0 !important; margin-left: -192px;
			}
		}


		/* Specific image width */

		/* Specific image width */
		&.realm-zikverland {
			@media ($breakpoint-tablet-portrait) {
				padding-top: 500px !important; margin-top: 30px;
			}
			@media ($breakpoint-mobile-portrait) { 

				padding-top: 280px !important; margin-top: 30px;

				img { width: 420px; margin-left: -210px; }
			}
		}

		&.rule-night-day {
			@media ($breakpoint-mobile-portrait) { 

				padding-top: 300px !important;

				img { width: 500px; margin-left: -250px; }
			}
		}


		&.legendary-heroes {  
			@media ($breakpoint-mobile-portrait) { 

				padding-top: 320px !important;

				img { width: 550px; margin-left: -275px; }
			}
		}

		&.madzik-cards {

			@media ($breakpoint-tablet-portrait) {
				padding-top: 500px !important;
			}

			@media ($breakpoint-mobile-portrait) { 

				padding-top: 375px !important;

				img { width: 580px; margin-left: -290px; }
			}
		}

		&.heroes-legend {

			@media ($breakpoint-tablet-portrait) {
				padding-top: 500px !important;
			}

			@media ($breakpoint-mobile-portrait) { 

				padding-top: 310px !important;

				img { width: 480px; margin-left: -240px; }
			}
		}

		&.free-to-play {

			@media ($breakpoint-tablet-portrait) {
				padding-top: 475px !important;
			}

			@media ($breakpoint-mobile-portrait) { 

				padding-top: 265px !important;

				img { width: 420px; margin-left: -210px; }
			}
		}

		&.epic-pvp-battles {  
			@media ($breakpoint-tablet-portrait) {
				padding-top: 500px !important;
			}

			@media ($breakpoint-mobile-portrait) { 

				padding-top: 285px !important;

				img { width: 440px; margin-left: -220px; }
			}
		}


		@media ($breakpoint-tablet-portrait) {
			padding: 450px 0 0 !important; display: block; text-align: center;
		}

		@media ($breakpoint-mobile-portrait) {
			padding: 250px 0 0 !important; margin-bottom: 50px;
		}


		.content { width: 100%; position: relative; z-index: 2;
			h3 { font-family: $font-factoria; font-size: 2.4rem; font-style: italic; font-weight: bold; text-transform: uppercase; color: $color-primary; }

		}
	}

}