{% set lang = "fr-FR" %}

{% set pageTitle = "Marque" %}

{% set legal__bodyClass = "page-imprint" %}
{% set legal__title = "Marque" %}
{% set legal__text %}
<p>gamigo Publishing GmbH<br>
Behringstr. 16b<br>
22765 Hambourg<br>
Allemagne</p>
<p>Téléphone : +49 (0)40 411 885 0&nbsp;<b> (Pas pour les demandes d'assistance)</b><br>
Fax : +49 (0)40 411 885 255<b> (Pas pour les demandes d'assistance)</b><br>
E-mail: <a href="mailto:info@looki.com">info(at)looki.com</a> <b> (Pas pour les demandes d'assistance)</b></p>
<p>Délégué à la protection des mineurs : Dr. Andreas Lober<br>
E-mail: <a href="mailto:youthprotection@looki.com">youthprotection(at)looki.com</a></p>
<p>Délégué à la protection des données : Jörg Smid<br>
E-Mail: <a href="mailto:dataprotection@gamigo.com">dataprotection(at)gamigo.com</a></p>
<p>Directeurs généraux : Remco Westermann, Jens Knauber</p>
<p>Siège social de la société : Hambourg<br>
Cour de registre : Cour locale d'Hambourg<br>
Numéro d'enregistrement : HRB 150346<br>
Numéro d'identification à la TVA : DE 303 426 260</p>
<p>Contrôle éditoriel (en accord avec le para. 55 du RStV allemand) effectué par :&nbsp;Remco Westermann<br>
Behringstr. 16b<br>
22765 Hambourg<br>
Allemagne</p>
<p>Plateforme européenne de résolution de conflits alternatifs en ligne : <a href="http://www.ec.europa.eu" rel="nofollow">www.ec.europa.eu</a></p>
<p>Nous ne participons pas à des procédures de règlements de différends auprès d'un service consommateur, et n'y sommes aucunement tenus.</p>
{% endset %}

{% set currPath = "legal/imprint.html" %}
{% include "./assets/templates/legal.njk" %}