{% set lang = "es-ES" %}

{% set pageTitle = "Aviso legal" %}

{% set legal__bodyClass = "page-imprint" %}
{% set legal__title = "Aviso legal" %}
{% set legal__text %}
<p>gamigo Publishing GmbH<br>
Behringstr. 16b<br>
22765 Hamburgo<br>
Alemania</p>
<p>Teléfono: +49 (0)40 411 885 0&nbsp;<b>(No para consultas de soporte técnico)</b><br>
Fax: +49 (0)40 411 885 255 <b>(No para consultas de soporte técnico)</b><br>
E-mail: <a href="mailto:info@looki.com">info(at)looki.com</a> <b>(No para consultas de soporte técnico)</b></p>
<p>Funcionario distrital encargado de la protección a los jóvenes: Dr. Andreas Lober<br>
E-mail: <a href="mailto:youthprotection@looki.com">youthprotection(at)looki.com</a></p>
<p>Responsable de la protección de datos: Jörg Smid<br>
E-Mail: <a href="mailto:dataprotection@gamigo.com">dataprotection(at)gamigo.com</a></p>
<p>Directores ejecutivos: Remco Westermann, Jens Knauber</p>
<p>Domicilio social de la empresa: Hamburgo<br>
Tribunal de registro: Tribunal local de Hamburgo<br>
Número de registro: HRB 150346<br>
Número de identificación del IVA: DE 303 426 260</p>
<p>El control editorial (según la sección 55 del RStV, el acuerdo de radiodifusión interestatal alemán) está en manos de Remco Westermann<br>
Behringstr. 16b<br>
22765 Hamburgo<br>
Alemania</p>
<p>Plataforma en la UE para resolución alternativa de disputas en línea: <a href="http://www.ec.europa.eu" rel="nofollow">www.ec.europa.eu</a></p>
<p>No participamos en los procedimientos de resolución de disputas ante un Servicio de arbitraje de consumo, y no estamos obligados a hacerlo.</p>
{% endset %}

{% set currPath = "legal/imprint.html" %}
{% include "./assets/templates/legal.njk" %}