{% set lang = "de-DE" %}


{% set pageTitle = "Impressum" %}


{% set legal__bodyClass = "page-imprint" %}
{% set legal__title = "IMPRESSUM" %}
{% set legal__text %}
<p>gamigo Publishing GmbH<br>
Behringstr. 16b<br>
22765 Hamburg<br>
</p>
<p>Phone: +49 (0)40 411 885 0&nbsp;<b>(Nicht für Support-Anfragen)</b><br>
Fax: +49 (0)40 411 885 255 <b>(Nicht für Support-Anfragen)</b><br>
E-mail: <a href="mailto:info@looki.com">info(at)looki.com</a> <b>(Nicht für Support-Anfragen)</b></p>
<p>Jugendschutzbeauftragter: Dr. Andreas Lober<br>
E-mail: <a href="mailto:youthprotection@looki.com">youthprotection(at)looki.com</a></p>
<p>Datenschutzbeauftragter: Jörg Smid<br>
E-Mail: <a href="mailto:dataprotection@gamigo.com">dataprotection(at)gamigo.com</a></p>
<p>Geschäftsführer: Remco Westermann, Jens Knauber</p>
<p>Sitz der Gesellschaft: Hamburg<br>
Registergericht: Amtsgericht Hamburg<br>
Registernummer: HRB 150346<br>
Umsatzsteueridentifikationsnummer: DE 303 426 260</p>
<p>Inhaltlich verantwortlich nach § 55 RStV: Remco Westermann<br>
Behringstr. 16b<br>
22765 Hamburg<br>
Deutschland</p>
<p>Plattform der EU zur außergerichtlichen Online-Streitbeilegung: <a href="http://www.ec.europa.eu" rel="nofollow">www.ec.europa.eu</a></p>
<p>Wir nehmen an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht teil und sind hierzu auch nicht verpflichtet.</p>
{% endset %}




{% set currPath = "legal/imprint.html" %}
{% include "./assets/templates/legal.njk" %}