{% set lang = "en-US" %}

{% set pageTitle = "Imprint" %}

{% set legal__bodyClass = "page-imprint" %}
{% set legal__title = "gamigo Publishing GmbH Imprint" %}
{% set legal__text %}
<p>gamigo Publishing GmbH<br>
Behringstr. 16b<br>
22765 Hamburg<br>
Germany</p>
<p>Phone: +49 (0)40 411 885 0&nbsp;<b>(Not for support queries)</b><br>
Fax: +49 (0)40 411 885 255 <b>(Not for support queries)</b><br>
E-mail: <a href="mailto:info@looki.com">info(at)looki.com</a> <b>(Not for support queries)</b></p>
<p>Youth Protection Officer: Dr. Andreas Lober<br>
E-mail: <a href="mailto:youthprotection@looki.com">youthprotection(at)looki.com</a></p>
<p>Data Protection Officer: Jörg Smid<br>
E-Mail: <a href="mailto:dataprotection@gamigo.com">dataprotection(at)gamigo.com</a></p>
<p>Managing director: Remco Westermann, Jens Knauber</p>
<p>Registered office of the company: Hamburg<br>
Court of registration: Hamburg Local Court<br>
Registration number: HRB 150346<br>
VAT identification number: DE 303 426 260</p>
<p>Editorial control (in accordance to § 55 of the German RStV) is held by:&nbsp;Remco Westermann<br>
Behringstr. 16b<br>
22765 Hamburg<br>
Germany</p>
<p>Platform of the EU for alternative online-dispute resolution: <a href="http://www.ec.europa.eu" rel="nofollow">www.ec.europa.eu</a></p>
<p>We do not participate in a dispute settlement procedure before a Consumer Arbitration Service and are not obliged to do so.</p>
{% endset %}

{% set currPath = "legal/imprint.html" %}
{% include "./assets/templates/legal.njk" %}