{% set lang = "en-US" %}

{% set pageTitle = "Heroes Of Twilight - E-Mail Confirmation" %}

{% set homepage__headerEnter = "E-Mail Confirmation" %}

{% include "./assets/templates/confirmation.njk" %}